*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f3f3f3;
  font-family: 'Rubik', sans-serif;
}
/* menu inicial */
.menu-principal{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 12%;
  background-color: #299216;
  border-bottom: 2px solid #148600;
}
.logo{
  width: 40%;
  float: left;
  color: #e0f1dd;
  margin-left: 18%;
}
  .logo h1{
    font-size: 2em;
  }
.menu-blog{
  display: none;
}
.user{
  width: 12%;
  float: right;
  margin-right: 5%;
}
  .user img{
    width: 90%;
    border-radius: 50%;
  }
.nome-user{
  display: none;
}
/* conteudo principal */
.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.post-principal{
  border: 1px solid #dee0de;
  background-color: #fff;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding-bottom: 8%;
  text-align: center;
}
  .post-principal img{
    width: 60%;
    float: none;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    border: 1px solid #dee0de;
  }
  .post-principal h3{
    float: none;
    font-size: 1.5em;
    color: #414640;
    width: 90%;
    margin-left: 4%;
    margin-top: 4%;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .post-principal p{
    float: none;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Open Sans', sans-serif;
    color: #828683;
    text-align: justify;
  }
/* ajustar modalidaes p/ responsivo
modalidades
*/
.container-fluido{
  width: 100%;
}
.modalidades{
  border-top: 2px solid #dee0de;
  border-bottom: 2px solid #dee0de;
  background-color: #fff;
  margin-top: 2%;
  padding-left: 1%;
  padding-bottom: 95%;
}
  .modalidades h4{
    font-size: 2em;
    color: #414640;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
.icons-modalidades{
  margin-top: 2%;
  width: 30%;
  margin-left: 2%;
  float: left;
  text-align: center;
}
  .icons-modalidades img{
    width: 45%;
  }
  .icons-modalidades p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #828683;
  }
  .icons-modalidades a{
    text-decoration: none;
    display: block;
  }
  .icons-modalidades a:hover{
    text-decoration: none;
    display: block;
  }
/* final rodapé */
.final{
  width: 100%;
  background-color: #299216;
  margin-top: 2%;
  border-top: 2px solid #148600;
}
  .final p{
    color: #fff;
    padding: 1%;
    text-align: center;
  }
